/*
 *  text.module.css
 *  This css file is to show label text throughout the application.
 */

.label {
  padding: 0.25rem 0.25rem;
  width: 100%;
  display: flex !important;
  align-items: center !important;
  font-size: 0.85rem;
  color: #383838;
  font-weight: 700;
}

.label.error {
  color: rgb(116, 17, 17);
  font-size: 0.75rem;
  font-weight: 600;
}
