@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.tableWrap {
  height: 65vh;
  overflow-y: auto;
}
.css-tr4s17-option {
  background-color: oklch(0.511 0.262 276.966) !important;
}
.react-datepicker-wrapper {
  /* overflow: hidden; */
  width: 81%;
  /* margin-left: 22px; */
  /* display: flex !important; */
  align-items: center !important;
}

#datePickerDiv .react-datepicker-wrapper {
  width: 99.5% !important;
}
