@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.tableWrap {
  height: 65vh;
  overflow-y: auto;
}
.react-datepicker__time-list-item--selected {
  background-color: #ec1a23 !important;
  color: white !important;
  font-weight: bold !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #ffebec !important;
}

.react-datepicker__time-list-item--selected,
.react-datepicker__time-list-item--selected:hover {
  background-color: #ec1a23 !important;
  color: white !important;
  font-weight: bold !important;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  top: -0.5px !important;
  left: -12.5px !important;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  display: none !important;
}
.myComponentWrapper .react-datepicker-wrapper {
  width: 100% !important;
}
.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: var(--bs-primary) !important;
  color: #fff;
}

.react-datepicker__header {
  text-align: center;
  background-color: var(--bs-primary-rgb) !important;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  /* padding: 8px 0; */
  position: relative;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: var(--bs-primary-rgb) !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: var(--bs-primary-rgb) !important;
  color: rgb(0, 0, 0);
}

.datepickerbox .datePicker_datepickerbox__Od5HR {
  border-radius: 0.3rem !important;
  /* border-bottom: 1px solid var(--bs-primary) !important; */
  box-sizing: border-box !important;
  min-height: 0.3rem !important;
  box-shadow: none !important;
  width: 100% !important;
}

.datepickerbox .datePicker_datepickerbox__Od5HR:hover {
  border-bottom: 1px solid grey !important;
  cursor: pointer;
}

.react-datepicker-wrapper input[type="text"]:focus {
  outline: none !important;
}

.react-datepicker-wrapper {
  /* overflow: hidden; */
  width: 81%;
  /* margin-left: 22px; */
  /* display: flex !important; */
  align-items: center !important;
}

#datePickerDiv .react-datepicker-wrapper {
  width: 99.5% !important;
}
